*{
    margin: auto;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body, html{
    height: 100%;
    width: 100%;
}
.main{
    background-image: url(hotwired.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 110px; 
}
.login{
    width: 300px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.innerlogin{
    display: block;
    margin: auto;
}
img{
    width: 270px;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.7);
}
.main2{
    background-image: url(hotwired.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 100px; 
}
.reg{
    width: 300px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.outerreg{
    display: block;
    margin: auto;
}
#img{
    width: 270px;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.7);
}
h1{
    font-family: fantasy;
}
.main3{
    background-image: url(hotwired.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 110px;
} 
.jumbotron{
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(0, 0, 0, 0.7);
}
.navbar{
    opacity 0.4;
}
p{
    color: white;
}
h1{
    color: #DC3545;
}
#img3{
    width: 80px;
    height: 80px;
}
nav{
    display: flex;
    align-content: flex-start;
}