*{
    margin: auto;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body, html{
    height: 100%;
    width: 100%;
}
.main{
    background-image: url(hotwired.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 110px; 
}
.login{
    width: 300px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.innerlogin{
    display: block;
    margin: auto;
}
img{
    width: 270px;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.7);
}
.main2{
    background-image: url(hotwired.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 100px; 
}
.reg{
    width: 300px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.outerreg{
    display: block;
    margin: auto;
}
#img{
    width: 270px;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.7);
}
h1{
    font-family: fantasy;
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
} 
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
.jumbotron{
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(0, 0, 0, 0.7);
}
.navbar{
    opacity 0.4;
    
}
p{
    color: white;
}
h1{
    color: #DC3545;
}
#img3{
    width: 80px;
    height: 80px;
}
nav{
    display: flex;
    align-content: flex-start;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;    
}
.main3{
    position: relative;
    
}
.polaroid {
    width: 20%;
    background-color: hsl(0, 0%, 10%);
    box-shadow: 0 4px 20px 0 rgba(253, 253, 253, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 120px;
}
  
.container {
    text-align: center;
    padding: 10px 20px;
}
.articles{
    padding: 15px;
}
.muse{
    display: block;
}
h3{
    color: #DC3545;
}
.card{
    margin-top: 20px;
    margin-bottom: 20px;
}